
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bakkal Web Side</title>
    <style>
           .main {
            margin-left: auto;
            margin-right: auto;
            margin-top:200px;
            margin-bottom:auto;
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="main">


            <button type="button" class="btn btn-info">
                <a style=" text-decoration: none; color: white ; font-size:50px" href="/Login/Login"> Giriş Yap</a>
            </button>

            <button type="button" class="btn btn-danger" >
                <a style="text-decoration: none; color: white; font-size: 50px" href="/Register/Register"> Kayıt Ol</a>
            </button>


        </div>
    </div>

 
    
</body>
</html>