
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">

    <!-- Bir form yapısı oluşurulmuş içindeki input değerleri add fonskiyoununa gönderilmiştir buton yardımıyla -->
    <h1>Stok Bilgisi  Ekle</h1>
    <form action="/Stok/Add" method="post">

        <h3>
            Stok Bilgilerini Girin

        </h3>
        <label>
            <span>Stok Id :</span>
            <input type="number" name="id" style="margin-top:50px" />

        </label>
        <label>
            <span>Stok Adedi :</span>
            <input type="number" name="s_adedi" style="margin-top:50px" />

        </label>
        <label>
            <span>Giris Tarihi :</span>
            <input type="date" name="giris_tarihi" placeholder="" style="margin-top:50px" />
        </label>
        <label>
            <span>Bitis Tarihi :</span>
            <input type="date" name="bitis_tarihi" placeholder="" style="margin-top:50px" />

        </label>

        <div class="button">
            <input type="submit" value="Add" style="margin-top:50px ; margin-left:10px">
        </div>

        
        
    </form>
</div>


